<div class="profile-page">
  <div class="info-line">
    <span class="label">Username</span>
    <span class="value">{{username}}</span>
  </div>
  <div class="info-line">
    <span class="label">Full name</span>
    <span class="value">{{fullName}}</span>
  </div>
  <div class="info-line">
    <span class="label">Gender</span>
    <span class="value">{{gender}}</span>
  </div>
  <div class="info-line">
    <span class="label">Date of birth</span>
    <span class="value">{{dateOfBirth}}</span>
  </div>
  <div class="info-line">
    <span class="label">Email</span>
    <span class="value">{{email}}</span>
  </div>
  <div class="info-line">
    <span class="label">Visibility</span>
    <span class="value">{{visibility}}</span>
  </div>

  <div class="controls">
    <a href="/password" class="secondary-button">Change Password</a>
    <a href="/editprofile" class="primary-button">Edit Profile</a>
  </div>
</div>
